html{font-family:arial, "nimbus sans l", sans-serif;}
h1{color:#5474ba;font-weight:bold;}
.verde{background:#84af82;color:white; text-align:center;}
.redes{background:#a2a2a2;text-align:center; }
.redes h3{color:#ffffff;}
.mapa{background:#fbffdd;}
.capalinux{text-align:center; }
.menu{ clear:both;}
.mencion{ }
.azul{background:#6e7fcf;color:white;}
.anaranjado{background:#ff7446;color:white;}
.vegetal{background:#74843f;color:white;}
.caracol{background:#8a6288;color:white;}
.marron{background:#9e754d;color:white;}
.tejado{background:#cf5658;color:white;}
.acero{background:#5b91ad;color:white;}
